AUTH0_CLIENT_ID="VajNR5FPyw4LKmdhvYjJrj0lGMUzXpjH"
AUTH0_CLIENT_SECRET="924kGZ70QStNjQ0FOOdQ8dC9NLXd1CnlxHcSoarWF5BafAGb-M_UmeOYLddP0iul"
AUTH0_DOMAIN="icfg-bmediemuusngk91aydmys8zh.us.auth0.com"
AUTH0_SECRET="ca995aee8692adc34df43e402282205c16ff8cba37428a821170cb311b141bce"
APP_BASE_URL=http://localhost:3000
